/* ----- HEADER ----- */
.cabecalho {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  z-index: 50;
}

.container-cabecalho {
  max-width: 1200px;
  margin: 0 auto;
  padding: -2px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo-cabecalho {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  margin-left: -130px;
}

.imagem-logo-real{
width: 50px;
/* height: 47px; */
}

.logo-circulo-cabecalho {
  width: 40px;
  height: 40px;
  background: #6BAF96;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.texto-logo-cabecalho {
  font-size: 20px;
  font-weight: bold;
  color: #6BAF96;
}

/* Desktop Menu */
.nav-desktop-cabecalho {
  display: none;
}

.nav-link-cabecalho {
  font-size: 16px;
  color: #374151;
  padding: 8px 14px;
  text-decoration: none;
  transition: 0.2s;
}

.nav-link-cabecalho:hover {
  color: #16a34a;
}

/* Desktop Auth */
.auth-desktop-cabecalho {
  display: none;
  align-items: center;
  gap: 15px;
}

.nome-usuario-cabecalho {
  font-weight: 500;
  color: #374151;
}

.boton-fantaminho-cabecalho {
  border: none;
  background: transparent;
  color: #dc2626;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.2s;
}

.boton-fantaminho-cabecalho:hover {
  background: #fee2e2;
}

.boton-primario-cabecalho {
  background: #6BAF96;
  color: white;
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
}

.boton-primario-cabecalho:hover {
  background: #128c3f;
}

/* Mobile Button */
.boton-menu-cabecalho {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #374151;
  display: flex;
}

/* Mobile Menu */
.nav-celular-cabecalho {
  background: #ffffff;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link-celular-cabecalho {
  font-size: 17px;
  color: #374151;
  padding: 10px 0;
  text-decoration: none;
  border-bottom: 1px solid #e5e7eb;
  transition: 0.2s;
}

.link-celular-cabecalho:hover {
  color: #16a34a;
}

.rodape-celular {
  margin-top: 20px;
}

.full {
  width: 100%;
}

/* ---- RESPONSIVE ---- */
@media (min-width: 768px) {
  .nav-desktop-cabecalho {
    display: flex;
    gap: 20px;
  }

  .auth-desktop-cabecalho {
    display: flex;
  }

  .boton-menu-cabecalho {
    display: none;
  }

  .nav-celular-cabecalho {
    display: none;
  }
}
